extends ../layout/index

block contenido
    div(class="container mx-auto")
            div(class="bg-white shadow-md rounded-lg overflow-hidden mt-8")
                div(class="px-4 py-5 sm:px-6 flex")
                    div(class="flex")
                        div(class="md:w-2/3 p-8")
                            h2(class="text-3xl font-extrabold text-gray-900 mb-4") Aplicaciones del Proyecto
                            div(class="flex flex-col space-y-4")
                                    h3 Redes de transporte: Encontrar la ruta más corta entre dos ciudades.
                                    h3 Redes de computadoras: Optimizar el envío de paquetes de datos.
                                    h3 Robótica: Planificación de rutas en sistemas de navegación autónomos.
                                    h3 Telecomunicaciones: Optimización de señales entre estaciones.
                                    h3 Videojuegos: Movimientos de personajes NPCs a través de los escenarios de manera eficiente.
                                    h3 Redes de comunicación: Enrutamiento de paquetes de datos de manera eficiente.

                        div(class="w-1/2 p-7 bg-gray-100")
                            img(src="https://cdn.prod.website-files.com/64e856afc3e5fe1806ac394c/6556097359635fdb1667e283_ciudad%20futurista.png" alt="Edsger Dijkstra" class="w-full h-auto rounded-lg mt-4 shadow-md")
                            img(src="https://www.bbva.com/wp-content/uploads/2018/02/redes-mundo-digital-conexiones-internet-datos-BBVA-1024x431.jpg" alt="Edsger Dijkstra" class="w-full h-auto rounded-lg mt-4 shadow-md")
                            img(src="https://blz-contentstack-images.akamaized.net/v3/assets/blt0e00eb71333df64e/blt04baa921d41007f3/66038bb74a049aa53d74d099/media_gallery_6.webp" alt="Edsger Dijkstra" class="w-full h-auto rounded-lg mt-4 shadow-md")