header(class="bg-blue-500 py-6 w-full")
    div(class="container mx-auto flex justify-between items-center")
            h1(class="my-5 md:flex md:items-center text-2xl text-white font-extrabold text-center") Matematica Computacional Grupo 02

            nav(class="my-6 text-sm md:flex md:items-center md:gap-10 font-bold text-white hidden")
                a(href="/start/introduccion") Introduccion
                a(href="/start/algoritmo-dijkstra") Probar Algoritmo
                a(href="/start/aplicaciones") Aplicaciones del Programa